################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs
/cpptools.sln
/cpptools.vcxproj
/cpptools.vcxproj.filters
/cpptools.vcxproj.user
